/* Global Settings */

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
/* Nav */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding-top: 15px;
  background: linear-gradient(
    0deg,
    var(--header-background-color) 40%,
    white 100%
  );
  z-index: 10;
}

header h1 {
  /* name on page */
  position: relative;
  color: var(--header-text-color);
  padding-right: 20px;
  padding-left: 150px;

  /* animation to bring name in from off-screen */
  animation-name: header-name;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

header img {
  /* main image of page */
  position: absolute;
  top: 16px;
  left: -500px;
  height: 100px;
  width: 100px;
  border: 1px solid black;

  /* animation to bring photo in from off-screen */
  animation-delay: s;
  animation-name: header-image;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

header a {
  /* menu links for page sections */
  color: var(--header-text-color);
  line-height: 45px;

  /* animation to fade color back to normal after hover */
  animation: header-font-fade-back;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

header li:hover a {
  /* animation to fade header link color to be visible over white background */
  animation: header-font-fade-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

nav {
  position: relative;
  top: 2px;

  /* animation to bring menu in from off-screen */
  animation: section-from-right;
  animation-duration: 2s;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}
/* 
nav menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
} */

nav li {
  border-bottom-color: var(--header-text-color);
}

/* header */

header a {
  text-decoration: none;
  font-weight: normal;
}

header li {
  height: 44px;
  padding: 5px 0;
  margin: 0 28px 0 8px;
  margin-right: 20px;
  font-size: 90%;
  font-stretch: expanded;
  border-bottom: 2px solid var(--left-column-highlight-color);

  animation: hover-shrink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
/* creates a underline */
header li {
  animation: hover-grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
