/* Global settings */

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* nav and header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  background-color: rgb(124, 119, 119);
  color: rgb(183, 228, 243);
  border-bottom-width: 4px;
}

h1 {
  font-size: 200%;
  color: rgb(124, 119, 119);
  background-color: rgb(183, 228, 243);
  text-align: center;
  padding: 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  list-style-type: none;
  padding-right: 20px;
}

nav a {
  background-color: unset;
  color: rgb(183, 228, 243);
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* about me */
.aboutme{
  display: flex;
} 

.heading{
  display: inline-flex;
  justify-content: right;
  border-right: solid;
  border-right-color: rgb(39, 140, 240);
  border-width: 3px;
  padding-right: 1%;
  padding-top: 5%;
  margin-right: 2px;
  width: 30%;
}

.bio{
  display: flex;
  justify-content: right;
  padding-top: 40px;
  padding-right: 25px;
  padding-left: 25px;
  width: 75%;
}

/* main content */

